/api-server-image/content/static/bigtext.js
/api-server-image/content/static/chart.js
/api-server-image/content/static/Chunkfive.otf
/api-server-image/content/static/jquery.fittext.js
/api-server-image/content/static/jquery-ui.min.css
/api-server-image/content/static/jquery-ui.min.js
/.vscode/settings.json
/lang-model-image/content/frequencies/reuters*.json
