#statistics, #words, #articles, #bilder{
    text-transform: uppercase;
    text-align: justify;
    line-height: 45px;

    margin-top: 1%;
    padding: 30px;
    padding-bottom: 15px;
    padding-top: 10px;

    border: solid rgb(41, 41, 41) 4px;

    -webkit-box-shadow: 0px 15px 150px -20px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 15px 150px -20px rgba(0,0,0,0.5);
    box-shadow: 0px 15px 150px -20px rgba(0,0,0,0.5);

    font-family: Chunkfive;
}

#bilder{
    overflow: auto;
}

#statistics{
    /*margin-top: 30px;*/
    padding-top: 40px;
    /*height: 614px;*/
}

#articles {
    text-transform: none;
    line-height: 25px;
    padding-top: 20px;
}

#articles a:link{
    text-decoration: none;
    color: #0000d2;
}

#articles a:visited{
    color: #0000d2;
}

#articles a:hover{
    color: #ff0002;
}

#words a:link{
    color: black;
    text-decoration: none;
}

#words a:visited{
    color: black;
}

#words a:hover{
    color: black;
    border-bottom: 5px solid #ff0002;
}

.activeWord{
    /*border-bottom: 5px solid #0000d2;*/
    color: #ff0002 !important;
    border-bottom: 5px solid #ff0002;
}

@font-face {
    font-family: Chunkfive;
    src: url("Chunkfive.otf") format("opentype");
}

.sourceName{
    font-size: 70%;
}

body{
    font-size: 18px;
}

h1{
    padding-left: 33px;
    font-size: 70px;
    color: #ff0002;
}

#bilder img{
    vertical-align: middle;
    
    height: 110px;
    width: auto;

    margin-top: 30px;
    margin-left: 30px;
}