/*
START: general properties
*/
body{
    background-color: #212121;
}
h2{
    margin: 0;
}
/*
END: general properties
*/
      
/*
START: general container properties
*/
.content-container{
    height: 500px; /*needed for consistency of the background colors*/
    background-color: #3c3c3c;
    margin-top: 20px;
}
.title-container{
    background-color: #212121;
    color: #757575;
    text-align: left;
}
/*
END: general container properties
*/